.userInfoDiv img {
  border-radius: 50%;
  width: 143px;
  height: 143px;
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.userInfoDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.userInfoDiv .content {
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  color: rgb(118, 101, 161);
}

.userInfoDiv .name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.userInfoDiv .editBtn {
  color: var(--color-blue-1);
  font-weight: 600;
  font-size: 1rem;
}

.userInfoDiv .noInfo {
  color: rgb(175, 175, 175);
}
