.userInfoDiv img {
  border-radius: 50%;
  width: 103px;
  height: 103px;
  padding: 4px;
  border: 1px solid grey;
  margin-bottom: 5px;
}

.userInfoDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.userInfoDiv .content {
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  color: var(--color-black-2);
}

.userInfoDiv .name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.userInfoDiv .editBtn {
  color: var(--color-blue-1);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.userInfoDiv .editBtn svg {
  margin-top: -3px;
}

.userInfoDiv .noInfo {
  color: rgb(175, 175, 175);
}
