.topBtn {
  position: fixed;
  bottom: 7rem;
  right: 1rem;
  z-index: 97;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 4rem;
  background-color: var(--color-blue-3);
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
/* .topBtn:global(.hidden) {
  display: none;
} */
