.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 0.7rem;
  padding: 0.44em 0;
  font-weight: 500;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Extra Small */
.btn:global(.xs) {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0;
}

.btn:global(.xs) svg {
  margin-top: -0.23rem;
}

/* Primary */
.btn:global(.primary) {
  color: var(--color-blue-4);
}
/* Red */
.btn:global(.secondary) {
  color: var(--color-red-2);
}

/* Red Border */

.btn:global(.red-border) {
  border: 1.5px solid var(--color-red-1);
  color: var(--color-red-1);
  background-color: #f9dbdd;
}

.btn:global(.red-border):active {
  background-color: var(--color-red-1);
  color: white;
  border-color: white;
}
/* Blue Border */

.btn:global(.blue-border) {
  border: 1.5px solid var(--color-blue-2);
  color: var(--color-blue-2);
  background-color: #bdb3ec;
}

.btn:global(.blue-border):active {
  background-color: var(--color-blue-2);
  color: white;
  border-color: white;
}

/* Blue Light */

.btn:global(.blue-light) {
  border: 1.5px solid #d6d6e9;
  color: var(--color-blue-3);
  background-color: #d6d6e9;
}

.btn:global(.blue-light):active {
  background-color: #b9b9df;
  border-color: var(--color-blue-3);
}

/* Blue */
.btn:global(.blue) {
  color: white;
  background-color: var(--primary-blue);
  border: 1.5px solid var(--primary-blue);
  gap: 6px;
}

.btn:global(.blue):active {
  background-color: #2e29cb;
}

/* Red */
.btn:global(.red) {
  color: white;
  background-color: var(--color-red-2);
  border: 1.5px solid var(--color-red-2);
}
.btn:global(.red):active {
  background-color: #aa0758;
}

/* Updating */

.btn:global(.updating) {
  position: relative;
}
.btn:global(.updating) :global(.progress) {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 7px;
  background-color: var(--color-blue-4);
  z-index: -1;
}

@media (hover: hover) {
  .btn:global(.blue-light):hover {
    background-color: #c9c9e1;
  }
  .btn:global(.blue-border):hover {
    background-color: #a396dd;
  }
  .btn:global(.blue):hover {
    background-color: #4641e7;
  }
  .btn:global(.red):hover {
    background-color: #c11e6f;
  }

  .btn:global(.red-border):hover {
    background-color: #e6bbbd;
  }
}
