.subNavBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block: 20px;
  gap: 8px;
}

.subNavBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  color: black;
  border-bottom: 3px solid transparent;
  font-size: 1.1rem;
}

.subNavBar a.active {
  color: blueviolet;
  border-color: blueviolet;
}

.subNavBar a:nth-child(3) svg {
  font-size: 1.2rem;
}

.subNavBarWrapper {
  position: sticky;
  top: 53.5px;
  background-color: white;
  z-index: 9;
}

.homeContent {
  min-height: calc(100vh - 53.8px - 44.6px - 40px);
}
