.imageTopMenuWrapper {
  background-color: #e2e6f5;
}

.imageTopMenu {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.4em 0;
}

.imageTopMenu > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.34rem;
  padding: 0.2em 0.5em;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.imageTopMenu div:global(.active) {
  /* background-color: #b8c2e9; */
  background-color: #a4bae9;
  color: #0b1272;
}

.imageTopMenu select {
  margin-left: auto;
  background-color: #a4bae9;
  border: none;
  color: #0b1272;
}

.imageTopMenu select:focus,
.imageTopMenu select:active {
  outline: 1px solid #0b1272;
}

/* Images list */
.imagesList {
  display: grid;

  gap: 0.4rem;
  padding: 1rem 0;
}

.imagesList:global(.grid) {
  grid-template-columns: repeat(3, 1fr);
}
.imagesList:global(.list) {
  grid-template-columns: 1fr;
  gap: 2rem;
}
