.subNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* background-color: var(--color-grey-5); */
  border-bottom: 1px solid #d6d6d6;
  position: sticky;
  top: 5.22rem;
  z-index: 98;
  background-color: white;
}

.subNavBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.76rem;
  gap: 5px;
  padding: 0.5em 0;
  flex-basis: 100%;
  position: relative;
}

.subNavBar a.active {
  color: var(--primary-blue);
}

.subNavBar a.active::after {
  content: '';
  height: 2.5px;
  width: 30%;
  position: absolute;
  bottom: -1px;
  background-color: var(--primary-blue);
}
