.subNavBar {
  display: flex;
}

.subNavBar div {
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 0.3em 0 0.5em;
  color: #0b1272;
  border-bottom: 2px solid transparent;
}

.subNavBar div.active {
  /* background-color:#e8ecf3 */
  /* color: #0b1272; */
  border-color: #0b1272;
  font-weight: 600;
  background-color: aliceblue;
}

.userLists {
  padding: 2rem 1rem;
}
