.btn {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-weight: 600;
  color: var(--primary-blue);
}

.btn span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn:global(.liked),
span.btn {
  color: var(--color-red-1);
}
