@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --color-red-1: #b00909;
  --color-red-2: #890d0d;
  --color-blue-1: #091cb0;
  --color-blue-2: #101e8c;
  --color-blue-3: #4a50c1;
  --color-blue-4: #b8bae6;
  --color-black-1: #717171;
  --color-black-2: #a29bb4;
  --color-orange-1: #c75536;
  --color-orange-2: #f9c5b6;
  --color-primary-1: blueviolet;
  --color-primary-2: rgb(218, 178, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 100%;
}

.wrapper {
  width: 95%;
  margin-inline: auto;
  max-width: 1400px;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

input::placeholder {
  overflow: visible;
}
