.addPage {
  padding: 2rem 0 17rem;
}

.topMenu {
  display: flex;
  align-items: center;
  padding: 0.7em;
  background-color: var(--color-grey-5);
  position: sticky;
  top: 5.21rem;
  z-index: 9;
}

.topMenu a {
  flex: 1;
  font-size: 1.9rem;
  border-radius: 0.4rem;
  display: grid;
  place-items: center;
  height: 4rem;
  font-weight: 500;
  padding: 0.3em 0;
  color: var(--color-blue-3);
}

.topMenu a.active {
  background-color: var(--color-blue-3);
  color: white;
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .addPage {
    padding: 1.5rem 1rem 1rem 28rem;
    min-height: calc(100vh - 5.5rem);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .addPage {
    padding-right: 2rem;
    padding-left: 30rem;
  }
}
