:root {
  --primary-blue: #5f59f7;
  --color-canwebe: #e47e24;
  --color-grey-1: #aea9bb;
  --color-grey-2: #494554;
  --color-grey-3: #ada9bb;
  --color-grey-4: #5f606d;
  --color-grey-5: #eeedf3;
  --color-red-1: #d71c2d;
  --color-red-2: #db2781;
  --color-blue-1: #30acdd;
  --color-blue-2: #0d0630;
  --color-blue-3: #343090;
  --color-blue-4: #002cc0;
  --color-pink-1: #e587ad;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-margin-top: 6.6rem;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
  height: 100%;
}
main {
  overflow: auto;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  color: var(--color-blue-2);
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.08rem;
}
h4,
p,
blockquote {
  font-size: 1.7rem;
}
ul,
ol {
  font-size: 2rem;
}

blockquote {
  border-left: 0.4rem solid #ccc;
  padding-left: 1.6rem;
  color: grey;
  line-height: 1.3;
}
code,
pre {
  font-size: 1.8rem;
  padding: 0.4em 0.5em;
  background-color: #23241f;
  color: #f8f8f2;
  white-space: pre-wrap;
  max-width: 700px;
}

main {
  min-height: 100%;
  height: 100%;
  max-width: 900px;
  margin-inline: auto;
  /* padding-right: 0.6rem; */
  /* overflow: inherit; */
}

main.public {
  max-width: 100%;
}

main::-webkit-scrollbar {
  width: 0px;
}

/* Styles */
.wrapper {
  max-width: 1400px;
  width: 95%;
  margin-inline: auto;
}

.fullHeight {
  height: inherit;
}

button {
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.noinfo,
.loading {
  text-align: center;
  margin-top: 10rem;

  margin-top: 15rem;
}
.loading {
  font-size: 2.5rem;
  color: var(--color-grey-4);
}

.noinfo {
  font-size: 2rem;
  color: rgb(245, 136, 124);
}
/* Blog Posts Format */

#editor-content .ql-container {
  font-family: inherit;
}

/* Bottom Margin */
blockquote,
pre,
#editor-content h1,
#post-content h1,
#editor-content h2,
#post-content h2,
#editor-content p,
#post-content p,
#editor-content ul,
#post-content ul,
#editor-content ol,
#post-content ol {
  margin-bottom: 1rem;
}

/* Strong */
#editor-content strong,
#post-content strong {
  font-weight: bold;
}

/* em */

#editor-content em,
#post-content em {
  font-style: italic;
}

/* H1 */
#editor-content h1,
#post-content h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e2;
  padding-bottom: 0.2em;
}

/* H2 */
#editor-content h2,
#post-content h2 {
  font-size: 2.5rem;
  line-height: 1.14;
  font-weight: 600;
}

/* Para */

#editor-content p,
#post-content p {
  font-size: 2rem;
}
/* UL and OL */

#editor-content ul,
#post-content ul,
#editor-content ol,
#post-content ol {
  padding-left: 2em;
}

#editor-content ul li,
#editor-content ol li {
  padding-left: 0;
}

/* Image */

#editor-content img,
#post-content img {
  margin: 0.5rem auto 2rem;
  max-height: 50vh;
  object-fit: contain;
}

/* Image */

#editor-content a,
#post-content a {
  font: inherit;
  color: #06c;
  text-decoration: underline;
}

/* Editor Style */
.ql-formats > * {
  font-size: 1.5rem !important;
  height: 3.5rem !important;
  width: 3.5rem !important;
}

#editor-content .ql-formats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-right: 0;
  justify-content: space-evenly;
}

.ql-color-picker {
  height: 2.9rem !important;
}

#editor-content .ql-picker.ql-header {
  width: 12.3rem !important;
  height: 2.2rem !important;
}

/* Responsive Media Queries */
@media screen and (min-width: 900px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1070px;
  }
}
