.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.7rem;
  border-bottom: 1px solid var(--color-grey-1);
}

.searchBar {
  width: 100%;
  position: relative;
  font-size: 2.2rem;
}

.searchBar input {
  padding: 0.35em 0.5em 0.35em 2.2em;
  width: 100%;
  border-radius: 0.4em;
  border: 1px solid var(--color-grey-2);
  outline: none;
}

.searchBar svg {
  position: absolute;
  top: 0.2em;
  left: 0.17em;
  font-size: 1.5em;
  color: var(--color-grey-2);
}

.searchBar input:focus {
  border-color: var(--color-blue-3);
  color: var(--color-blue-3);
}

.searchBar input:focus ~ svg {
  color: var(--color-blue-3);
}

/* Users List */
.usersList {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.usersListWrapper {
  padding: 2em 2em 3em;
  /* border: 1px dashed grey; */
  margin-top: 2rem;
  box-shadow: inset 0 0 20px rgba(106, 106, 106, 0.2);
  border-radius: 0.7rem;
  background-color: white;
}

.error {
  display: grid;
  place-items: center;
  margin: 2rem auto;
}
.error svg {
  width: 100px;
}
.error p {
  color: var(--color-grey-1);
  margin-top: -0.5rem;
}

.usersListWrapper h3 {
  font-weight: 600;
  font-size: 2.5rem;
  width: fit-content;
}

.usersListWrapper h3::after {
  content: '';
  height: 1px;
  background-color: var(--color-grey-2);
  width: 100%;
  display: block;
  margin-top: 0.5rem;
}

.loading,
.nodata {
  margin-block: 6rem;
  font-size: 2.3rem;
  text-align: center;
}

.loading {
  color: var(--color-grey-1);
}
.nodata {
  color: var(--color-red-2);
}

/* Media Queries */
@media screen and (min-width: 800px) {
  .usersListWrapper {
    margin-left: 28rem;
    margin-right: 2rem;
    padding-inline: 3em;
  }
  .wrapper {
    height: 5.5rem;
    position: sticky;
    top: 0;
    background-color: white;
  }

  .searchBar {
    width: 100%;
    position: relative;
    font-size: 2.2rem;
  }

  .searchBar input {
    padding: 0.2em 0.5em 0.2em 2em;
  }

  .searchBar svg {
    top: 0.28em;
    left: 0.28em;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .usersListWrapper {
    margin-left: 30rem;
    max-width: 61rem;
  }
}
