.loginPageWrapper {
  display: grid;
  place-items: center;
  position: relative;

  isolation: isolate;
}

.loginPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: white;
  height: 45%;
  box-shadow: 0 -3px 25px rgba(0, 0, 0, 0.3);
}

.loginBox button {
  font-size: 1.92rem;
  padding: 0.3em 0;
  width: 30rem;
  border: 2px solid #ea4335;
  gap: 0.4em;
  border-radius: 10px;
  background-color: bisque;
  color: #ea4335;
}

.loginBox h1 {
  /* font-size: 1.7rem; */
  color: var(--primary-blue);
  margin-top: -4rem;
}

.loginPage p {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  left: 0;
}
.loginPage p a {
  color: var(--color-canwebe);
  font-weight: 500;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  object-position: top;
}

.videooverlay {
  background-color: #8a9ac1;
  background: linear-gradient(138deg, #a6a02d, #18187b);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.videoDiv {
  height: 55%;
  position: relative;
  width: 100%;
}

.videoDiv img {
  object-fit: cover;
  object-position: top;
  z-index: -2;
}

/* Responsive */
@media screen and (min-width: 500px) {
  .loginPage {
    max-height: 80%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
    overflow: hidden;
    max-width: 500px;
  }
  .loginBox {
    position: relative;
  }
  .videoDiv {
    height: 65%;
  }
  .loginBox h1 {
    margin-top: -2rem;
  }
  .loginPageWrapper {
    background: rgb(200, 175, 219);
    background: linear-gradient(120deg, #874527 0%, #a29fe8 100%);
  }
}

@media screen and (min-width: 800px) {
  .loginPage {
    height: 80%;
    max-height: 780px;
    flex-direction: row;
    max-width: 800px;
    width: 90%;
  }
  .videoDiv,
  .loginBox {
    height: 100%;
    width: 50%;
  }
  .loginBox {
    box-shadow: -3px 0 25px rgba(0, 0, 0, 0.3);
  }

  /* .loginPage p {
    margin-top: 3rem;
    position: static;
  } */
  .videooverlay {
    opacity: 0.5;
  }
  .loginBox h1 {
    margin-top: 0;
  }
}
